[Desktop Entry]
Name=Plezy
Comment=A beautiful Plex client for Flutter
Exec=plezy
Icon=com.edde746.plezy
Type=Application
Categories=AudioVideo;Video;Player;
Terminal=false
StartupNotify=true
Keywords=plex;media;video;streaming;
